.projectInfo-card:hover {
	.projectInfo-card-add {
		color: #69c0ff;
	}
}
.projectInfo-upload-btn {
	width: 128px;
	height: 128px;
	text-align: center;
	line-height: 128px;
	font-size: 36px;
	border: 1px dashed #ddd;
	background-color: #f4f4f4;
}
