.clearfix:after {
	display: block;
	content: "\20";
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

.clearfix {
	*zoom: 1;
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

.txt-l {
	text-align: left;
}
.txt-c {
	text-align: center;
}
.txt-r {
	text-align: right;
}

.block {
	display: block;
}

.hide {
	display: none;
}

.inline-block {
	display: inline-block;
}

.w100 {
	width: 100%;
}

.mt-10 {
	margin-top: 10px;
}

.ml-10 {
	margin-left: 10px;
}

.mr-10 {
	margin-right: 10px;
}

.mb-10 {
	margin-bottom: 10px;
}
