// 主题颜色
@blue_color: #1890ff;
@green_color: #0aa679;
@purple_color: #7546c9;
@yellow_color: #fbd437;
//字体大小
@font_small: 12px;
@font_middle: 14px;
@font_big: 16px;

.color(@bg){
	background: @bg;
	border-color: @bg;
}
// 主题
.theme(@bg) {
	.ant-btn-primary, .layout-header, .ant-radio-inner:after, .ant-pagination-item-active{
		.color(@bg)
	}
	.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
		background: @bg;
	}
	.ant-radio-checked .ant-radio-inner,
	.ant-radio-wrapper:hover .ant-radio .ant-radio-inner, .ant-radio:hover .ant-radio-inner, .ant-radio-focused .ant-radio-inner{
		border-color: @bg;
	}
}
//字体大小
.fontSize(@fontSize) {
	.ant-btn-primary{
		font-size: @fontSize;
	}
}


.blue{
    .theme(@blue_color)
}
.green{
    .theme(@green_color)
}
.purple{
    .theme(@purple_color)
}
.yellow{
    .theme(@yellow_color)
}
.small{
	.fontSize(@font_small)
}
.middle{
	.fontSize(@font_middle)
}
.big{
	.fontSize(@font_big)
}
