// @import 'antd/dist/antd.css';
html, body, #app {
    width: 100%;
    height:100%;
}
@siderBg: rgb(0, 21, 41);
@whiteColor: #fff;
@siderBgRgba: rgba(0, 21, 41, .5);
.BasicLayout{
    height: 100%;
    .ant-layout-sider{
    	background: @siderBg;
    	&-trigger {
    		background: @siderBg;
    	}
    	.ant-menu {
    		background: @siderBg;
    		&-sub{
    			background: @siderBg;
    		}
    	}
    }
    .Header{
    	background: @whiteColor;
    }
    
    .trigger {
	  	font-size: 20px;
	  	line-height: 64px;
	  	cursor: pointer;
	  	transition: all .3s;
	  	padding: 0 24px;
	  	&:hover {
	  	  	background: @siderBgRgba;
	  	  	color: white;
	  	}
	}
    .ant-layout{
        &-header{
            line-height: 23px;
        }
        &-sider{
            width: 256px !important;
        }
        &-content{
            min-height: 760px;
        }
    }
    .tpwthwidt .container__sDy_v_{
        display: none;
    }
}

// 头部样式
@blue1: #ecf6fd;
.layout-header {
    background: #fff;
    padding-right: 30px;
    &-avatar {
        padding: 0 10px;
    }
    &-avatar:hover {
        transition:  all .5s linear;
        cursor: pointer;
        background-color: rgba(0, 21, 41, 0.5);
        span{
            color: #fff;
        }
    }
    &-bell {
        // height: 64px;
        padding-top: 18px;
        i {
            // vertical-align: middle;
            cursor: pointer;
        }
    }
}
